body {
  margin: 0;
  padding: 0;
  font: 1rem/1.5 system, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  text-align: center;
  color: #282828;
  background: #f8f8f8;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

blockquote,
h1, h2, h3, h4, h5, h6,
dl, ol, ul,
p,
pre {
  margin: 0.75rem 0;
}

li {
  margin: 0.25rem 0;
}

h1, h2, h3, h4 {
  line-height: 1.25;
}

h1 {
  font-size: 2rem;
}
@media (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  h2 {
    font-size: 2rem;
  }
}

h3 {
  font-size: 1rem;
}
@media (min-width: 768px) {
  h3 {
    font-size: 1.5rem;
  }
}

h4 {
  font-size: 0.75rem;
}
@media (min-width: 768px) {
  h4 {
    font-size: 1rem;
  }
}

code, pre {
  font-family: Inconsolata, Menlo, Consolas, monospace;
  font-size: 100%;
}

a {
  font-weight: 500;
  text-decoration: none;
}
a:link {
  color: #7cafc2;
}
a:visited {
  color: #ba8baf;
}
a:hover, a:focus {
  color: #638998;
}
a:active {
  color: #4a646d;
}

label {
  cursor: pointer;
}

nav {
  margin: 1.5rem auto;
}
nav a {
  display: block;
  padding: 0.25rem 1rem;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: -1px;
}
nav a:link {
  color: #585858;
}
nav a:visited {
  color: #b8b8b8;
}
nav a:hover, nav a:focus {
  color: #282828;
  background: white;
}

[hidden] {
  display: none !important;
}

.controls {
  padding: 0.75rem 0;
  font-size: 0.75rem;
  color: #f8f8f8;
  background: #585858;
}

.find {
  font-size: 1rem;
}

.findcontrols {
  padding: 0.75rem 0;
  overflow: hidden;
  background: #e8e8e8;
}

.footer {
  font-size: 0.75rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  max-height: 100vh;
  background: #282828 url(../assets/skies/space3.png) repeat-x bottom/auto 100%;
  color: #f8f8f8;
}
.header h1 {
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
}

.highlight {
  overflow: auto;
  padding: 0.75rem 1.5rem;
  text-align: left;
  font-size: 0.75rem;
}
@media (min-width: 768px) {
  .highlight {
    font-size: 1rem;
  }
}
@media (min-width: 1024px) {
  .highlight {
    font-size: 1.25rem;
  }
}
@media (min-width: 1440px) {
  .highlight {
    font-size: 1.5rem;
  }
}

@keyframes fly {
  from {
    transform: translateX(-25vw);
  }
  to {
    transform: translateX(125vw);
  }
}
@keyframes play {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -128px 0;
  }
}
.spaceship {
  position: absolute;
  left: 0;
  top: 59px;
  width: 32px;
  height: 32px;
  overflow: hidden;
  background: url(../assets/sprites/humstar.png) no-repeat left;
  animation: fly 30s linear infinite alternate, play 1s steps(4) infinite;
}

#phaser-example {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #282828 url(../assets/sprites/phaser.png) no-repeat center;
  overflow: hidden;
}
@media (min-height: 600px) {
  #phaser-example {
    height: 600px;
  }
}
#phaser-example.bigger {
  height: 100vh;
}
